@mixin phone {
  @media only screen and (max-width: 414px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

h1, em {
  	font-size: $titulo/2;
  	font-family: $fuente;
  	color: $colorTitulo;
  	font-style: normal;
  @include phone {
    	font-size: $titulo/2;
      	font-family: $fuente;
  		color: $colorTitulo;
  		font-style: normal;
  }
  @include desktop {
    	font-size: $titulo;
    	font-family: $fuente;
  		color: $colorTitulo;
  		font-style: normal;
  }
}

h2, strong {
  	font-size: $subTitulo/2;
  	font-family: $fuente;
  	color: $colorSubtitulo;
  	font-weight: normal;
  	margin-bottom: 5px;
  @include phone {
    	font-size: $subTitulo/2;
      	font-family: $fuente;
  		color: $colorSubtitulo;
  		font-weight: normal;
  }
  @include desktop {
    	font-size: $subTitulo;
    	font-family: $fuente;
  		color: $colorSubtitulo;
  		font-weight: normal;
  }
}

h3 {
  	font-size: $subTitulo/2;
  	font-family: $fuente;
  	color: $colorTexto;
  	font-weight: normal;
  	margin-bottom: 5px;
  @include phone {
    	font-size: $contenido;
      	font-family: $fuente;
  		color: $colorTexto;
  		font-weight: normal;
  }
  @include desktop {
    	font-size: $subTitulo;
    	font-family: $fuente;
  		color: $colorTexto;
  		font-weight: normal;
  }
}


body{
		font-family: $fuente;
		a:link, a:visited, a:active {
	    text-decoration:none;
	    color: $colorTexto;
	}
}


#header{
		top: 0;
		position: relative;
		background: $fondo;
		width: $max-width;

	.cabezera{
		display: flex;
		flex-direction: row;
		justify-content: center;
		max-width: 80%;
		margin: auto;
		align-items: center;

			.menu{
				width: 20%;
				cursor: pointer;
				display: block;
				text-align: right;
				padding-right: 50px;
				img{
					width: 20px;
					}
			}	

			.logo{
				width: 30%;
				display: block;
				img{
					width: 50%;
				}
			}

			.sesion{
				width: 40%;
				display:block;
				text-align: right;
				padding: 15px;
			}
	}

	 @include phone {
    	font-size: .4em;
  }
}

#botonera{
	position: fixed;
	top: 0;
	z-index: 100;
	height: 100vh;
	width: 250px;
	background-color:#e4e0e0;
	opacity:0.6;
	transform: translate(-250px);
	.listado{
		padding-top: 50px;
		a {
			color: black;
			font-weight: bold;
		}
		li {
			list-style: none;
		}

	}
	@include phone {
    	font-size: .7em;
  }
}

#botonera.visible{
	transform: translate(0px);
}

#cerrar{
	position: fixed;
	top: 0;
	right: 10px;
	cursor: pointer;
	font-weight: bold;

}

.carrusel {
	@include phone {
				max-width: 100%;
				padding-top: 25px;
			}
	h1 {
		color: $colorTexto;
	}
	
}
	
.hashtag {
	text-align: right;
	font-size: 5rem;
	color: $colorTexto;
	padding-top: 60px;
	@include phone {
    	margin-top: 5px;
  }
}

.cinta img{
	width: 100%;
	@include phone {
    	width: 100%;
    	margin-top: 10px;
  }
}

#nosotros {
	margin-top: 10em;
	display: flex;
	.nosotros {
		display: flex;
		width:50%;
		.nosotros__boxNosotros {
			display: flex;
			align-items: center;
			padding: 5px;
			box-sizing: border-box;
			margin-bottom: 15px;
			width: 50%;
		}

		h3{
			font-family: $fuente;
			font-weight: normal;
		}

		img{
			width: 100%;
			}
	}

	@include phone {
		margin-top: 5em;
		display: flex;
		.nosotros {
			display: flex;
			flex-direction: column;
			width:100%;
			.nosotros__boxNosotros {
				display: flex;
				align-items: center;
				padding: 5px;
				box-sizing: border-box;
				margin-bottom: 15px;
				width: 100%;
			}
			h3{
				font-family: $fuente;
				font-weight: normal;
			}
			img{
				width: 100%;
				}
		}
    	
	 }					
}

#boxProductos{
	margin-top: 5em;

	#productos{
		display: flex;
		flex-direction: row;
	}

	#productos .productos__nuestrosProductos {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50%;
		padding: 10px;
		text-align: center;

		img{
			width: 100%;
			margin-bottom: 20px;
			transition: height 2s, width 1s; 
		}

		img:hover {
			width: $hover;
		}

	}

}

#eventos{
	margin-top: 5em;

	.carrusel2 p{
		font-size: $contenido;
		font-family: $fuente;
		color: $colorSubtitulo;
	}
}

#contacto{
	margin-top: 5em;
}

.contacto{

	display:flex;
	padding-bottom: 3em;

	.contacto__rSociales{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 33.33%;
		padding: 10px;
	}

	.contacto__rSociales img{
		width: 70px;
		margin-bottom: 1em;
	}

	@include phone {
		.contacto__rSociales img{
		width: 35px;
		margin-bottom: 1em;
		}
	}
}

#footer {
	display: flex;
	padding: 3em;
	background-color: black;
	@include phone {
    	font-size: .5px;
  }
}

.boxFooter {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33.33%;
}

/*ESTILOS PAGINA DE UTENSILIOS CRISTALERIA Y COMPLEMENTOS*/

@mixin tituloDos {
	color: $colorSubtitulo;
	font-family: $fuente;
	font-size: $subTitulo;
}

@mixin tituloTres {
	color: $colorTexto;
	font-family: $fuente;
	font-size: $subTitulo;
}

@mixin descripcion {
	font-family: $fuente;
	font-size: $contenido;
}


.boxProducto img {
	width: 300px;
	@include phone {
		width: 150px;
	}
}

.boxProducto li {
	list-style: none;
	@include phone {
		font-size: 15px;
	}
}

.boxProducto h4 {
	@include phone {
		font-size: 15px;
		font-weight: bold;
	}
}

.boxProducto ul {
	padding: 0;
}	

.centrado {
		margin-top: 15px;
		display:flex;
		flex-direction: column;
		font-size: $contenido
	}
.centrado1{
		align-items: center;
		text-align: center;
	a {
		font-size: 20px;
	}
}
