@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

h1, em {
  	font-size: $titulo/2;
  	font-family: $fuente;
  	color: $colorTitulo;
  	font-style: normal;
  @include tablet {
    	font-size: $titulo/2;
      	font-family: $fuente;
  		color: $colorTitulo;
  		font-style: normal;
  }
  @include desktop {
    	font-size: $titulo;
    	font-family: $fuente;
  		color: $colorTitulo;
  		font-style: normal;
  }
}

h2, strong {
  	font-size: $subTitulo/2;
  	font-family: $fuente;
  	color: $colorSubtitulo;
  	font-weight: normal;
  	margin-bottom: 5px;
  @include tablet {
    	font-size: $subTitulo/2;
      	font-family: $fuente;
  		color: $colorSubtitulo;
  		font-weight: normal;
  }
  @include desktop {
    	font-size: $subTitulo;
    	font-family: $fuente;
  		color: $colorSubtitulo;
  		font-weight: normal;
  }
}

p {
  	font-size: $contenido;
  	font-family: $fuente;
  	color: $colorTexto;
  	text-align: justify;
	line-height: 1;
  @include tablet {
    	font-size: $contenido/2;
      	font-family: $fuente;
  		color: $colorTexto;
  		text-align: justify;
		line-height: 1;
  }
  @include desktop {
    	font-size: $contenido;
    	font-family: $fuente;
  		color: $colorTexto;
  		text-align: justify;
		line-height: 2;
  }
}


body{
		font-family: $fuente;
		a:link, a:visited, a:active {
	    text-decoration:none;
	    color: $colorTexto;
	}
}

#header{
		min-height: 90px;
		top: 0;
		position: fixed;
		@include tablet {
			position: relative;
		}
		background: $fondo;
		width: $max-width;
		z-index: 100;
		border-bottom: 0.5px solid $linea;

	.menu {
		display: block;
		@include tablet {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
		}
		max-width: 80%;
		margin: auto;
	}

	.menu__logo {
		width: 20%;
		display: block;
		@include tablet {
			display: flex;
			flex-flow: row nowrap;
		}
		float: left;
	}

	.menu img {
		width: 80%;
		display: block;
		@include tablet {
			display: flex;
		}
	}

	.menu ul{
		list-style: none;
		float: left;
		@include tablet {
			margin:auto;
		}
	}

	.menu ul li {
		display: inline-block;
		@include tablet {
			display: inline;
			padding-left: 1rem;
		}
		padding: 2rem;
		margin: auto;
		font-size: $contenido;
	}
}

.carrusel {
	padding-top: 90px;
	img{
		max-height: 542px;
	}
	@include tablet{
		padding-top: 0px;
	}
	
}

#nosotros {
	margin-top: 20em;

	.nosotros {
		display: flex;

		.nosotros__boxNosotros {
			flex-direction: column;
			align-items: center;
			padding: 5px;
			box-sizing: border-box;
			margin-bottom: 15px;
			width: 50%;
			font-size:$contenido;
		}

		h3{
			font-family: $fuente;
			font-weight: normal;
		}

		img{
			width: 100%;
			@include tablet {
				content: url("../images/nosotrosMob.jpg");

				}
			}
	}					
}

#boxProductos{
	margin-top: 5em;

	#productos{
		display: flex;
	}

	#productos .productos__nuestrosProductos {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 33.33%;
		padding: 10px;
		text-align: center;

		img{
			width: 50%;
			margin-bottom: 20px;
			transition: height 2s, width 1s; 
		}

		img:hover {
			width: $hover;
		}

	}

}

#eventos{
	margin-top: 5em;

	.carrusel2 p{
		font-size: $contenido;
		font-family: $fuente;
		color: $colorSubtitulo;
	}
}

#contacto{
	margin-top: 5em;
}

.contacto{

	display:flex;
	padding-bottom: 3em;

	.contacto__rSociales{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 33.33%;
		padding: 10px;
	}

	.contacto__rSociales img{
		width: 70px;
		margin-bottom: 1em;
	}
}

#footer {
	display: flex;
	padding: 3em;
	background-color: black;
}

.boxFooter {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33.33%;
}

/*ESTILOS PAGINA DE UTENSILIOS CRISTALERIA Y COMPLEMENTOS*/

@mixin tituloDos {
	color: $colorSubtitulo;
	font-family: $fuente;
	font-size: $subTitulo;
}

@mixin tituloTres {
	color: $colorTexto;
	font-family: $fuente;
	font-size: $subTitulo;
}

@mixin descripcion {
	font-family: $fuente;
	font-size: $contenido;
}

#contenedor {

	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 150px;

	h3{
		@include tituloTres;
		margin-top: 5px;
		font-weight: normal;
	}

	h4{
		@include descripcion;
		font-weight: bold;
	}

	li{
		@include descripcion;
	}

	a{
		@include tituloTres;
		font-size: 1.5rem;
		text-align: center;
	}

	.producto {
		display: flex;
	}
	.boxProducto{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 33.0%;
		padding: 5px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	ul{
		list-style: none;
		padding: 0px;
	}
	img{
		width: 60%;
	}
	.centrado {
		margin-top: 15px;
		display:flex;
		flex-direction: column;
	}
	.centrado1{
		align-items: center;
		text-align: center;
	}

	.boxCristaleria{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50%;
		padding: 5px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.boxComplementos{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 5px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
